.board{
    width: 400px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    position: relative;
}
.board__cell{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    font-size: 30px;
    cursor: pointer;
    background: #F0D9B5
}
._black{
    background: #B59963
}
.available{
    width: 16px;
    height: 16px;
    background-color: #50db50;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}
.castling{
    width: 16px;
    height: 16px;
    background-color: #17baef;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}
.check{
border: 1px solid red;
    width: 48px;
    height: 48px;
}
.isCanBeDeleted{
    border: 2px solid gold;
    width: 46px;
    height: 46px;
}
.cell__icon{
    height: 30px;
}
