:root{
    --coefficient:65px
}

.board{
    width: calc(var(--coefficient) * 8);
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    position: relative;
    transform: rotate(360deg);
}
.board__cell{
    width: var(--coefficient);
    height: var(--coefficient);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    font-size: 30px;
    cursor: pointer;
    background: #F0D9B5
}
._black{
    background: #B59963
}
.available{
    width: calc(var(--coefficient) / 3.1);
    height: calc(var(--coefficient) / 3.1);
    background-color: #50db50;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}
.castling{
    width: calc(var(--coefficient) / 3.1);
    height: calc(var(--coefficient) / 3.1);
    background-color: #17baef;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}
.check{
border: 2px solid red;
    width:calc(var(--coefficient) - 2);
    height:calc(var(--coefficient) - 2);
}
.isCanBeDeleted{
    border: 2px solid gold;
    width:calc(var(--coefficient) - 2);
    height:calc(var(--coefficient) - 2);
}
.cell__icon{
    height: calc(var(--coefficient) / 1.5);
    user-select: none;
}
._active{
    background-color: #8fc647;
}
