.header{
    background-color: #2e2e2e;
    padding: 10px 0;
    border-bottom: 1px solid #ffff;
    margin-bottom: 20px;
}
.header__container{
    max-width: 1170px;
    color: #fff;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    cursor: pointer;
    display: flex;
    user-select: none;
}
.header___image{
    width: 60px;
    height: 60px;
    position: relative;
    margin-right: 10px;
}
.header___image img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}
.header__title{
    font-size: 18px;
    align-self: center;
}
.header__menu{
    display: flex;
}
.menu__link{
    font-size: 20px;
    transition: opacity .3s;
    text-decoration: none;
}
.menu__link:not(:last-child){
    margin-right: 10px;
}
.menu__login{
    color: #0774de;
}
.menu__profile{
    color: #fff;
}
.menu__link:hover{
    opacity: .7;
}
